@font-face {
  font-family: 'collectionfreeregular';
  src: url('../fonts/collection/collectionfree-webfont.woff2') format('woff2'),
       url('../fonts/collection/collectionfree-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.headerTextToDisplay1 {
  font-family: 'collectionfreeregular';
  font-weight: normal;
  font-style: normal;
  font-size: 800%;
} 

.homePageText {
  font-family: 'collectionfreeregular';
  font-weight: normal;
  font-style: normal;
  font-size: 800%;
  padding-top: 5%;
  color: white;
} 

/*.homePageText2 {
  font-family: 'collectionfreeregular';
  font-weight: normal;
  font-style: normal;
  font-size: 600%;
  color: white;
  padding-bottom: 60%;
} */

.headerTextToDisplay2 {
  font-family: 'collectionfreeregular';
  font-weight: normal;
  font-style: normal;
  font-size: 700%;
} 

.headerTextToDisplay3 {
  font-family: 'collectionfreeregular';
  font-weight: normal;
  font-style: normal;
  font-size: 500%;
  color: black;
} 

/* Windows */
@media (min-width: 567px) {
  .homePageText2 {
    font-family: 'collectionfreeregular';
    font-weight: normal;
    font-style: normal;
    font-size: 600%;
    color: white;
    padding-bottom: 60%;
  } 
}

/* Phone */
@media (max-width: 567px) {
  .homePageText2 {
    font-family: 'collectionfreeregular';
    font-weight: normal;
    font-style: normal;
    font-size: 400%;
    color: white;
    padding-bottom: 60%;
  } 
}